<!doctype html>
<html>
    <head>
        <title>SYBERSQUARE</title>
    </head>
    <body>     
        
<h1>SYBERSQUARE</h1>
                <HR>Fwome wikepedia,For encyclopedia
                    <br><br> 
                    
                    <div style="float:left; width:900px; border: 2px solid black;"> 
                    <p>Sybersquare is an innovative onlin platform that teaches kid to learn coding and therby the 21century
                         skills.It is also an excellent way to teach mathamatics and science
                        concepts in a different way and have problem-solving skills, </p>
                    
               <b>Logic and patience.</b>
               <p>Cybersquare is the best online coding platform for kids that offers various online coding 
                   couses which will make kids feuture
                   -ready.It helps kids to expose thair creativity and acquire 21st-century skills.
        
               </p>
               <h3>sybersquare learning platfoarm</h3>
               <p>every registerd sudent will have a seperate log in account to the cyber square learning platfoarm.
                   Here,they will able to view thair cource
                    progress,assignment provided by teachers,Apart frome these  they will also
                     get notifications on upcoming live classes,news,events so that 
                     
                they wont miss them.</p>
                <p>Teachrs can also log in to syber square platform and able to batch progress Lorem ipsum, 
                    dolor sit amet consectetur adipisicing elit. In, sed.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, tempora! Cupiditate nam
                     excepturi debitis at corporis dolor
            
                
            
                </p>
                <h3>Cybersquare coding courses</h3>
                <p>subersquare provide live b2c onlin courses for kids and prepare them for the future.
                    Our expert will provide 1:1 online coding classes and help your
                     child to create thair own </p>
                     <h3>Sybersquare text book</h3>
                     <p>cubersquare provide textbook to syudants.cnvbjd fhgudsfguyeyrtury  zxbcnb ith thrb vdjguyg fdsfhsgy</p>
                     <h3>Cyber digital fest</h3>
                     <p>cyber square helps to studants national and inter national competetions </p>
                    </div> 
                    <h1>lets learn <span style="color: red;"><HTML></HTML></span></h1>
                    
             <div style="float:right;height: 200px;" > <img src="img/logo.png"></div>
            
            
    </body>
</html>